<ion-card full>

  <!-- <img [src]="avatar" alt="avatar" /> -->
  <!-- <img src="./assets/imgs/default-avatar.jpg" alt="avatar" /> -->

  <div [ngClass]="[ 'subscriber-item-container', coverClass ]">

    <div class="subscriber-profile-container">

      <ion-item>

        <!-- <ion-avatar item-start>
          <img [src]="avatar" alt="avatarClass" />
        </ion-avatar> -->

        <h4>{{ subscriber.name }}</h4>

      </ion-item>
      <ion-card-content>

        {{ subscriber.bio }}

      </ion-card-content>

      <ion-item>

        <ion-badge *ngFor="let service of subscriber.services" color="secondary" margin-right>{{ service }}</ion-badge>

      </ion-item>

      <button ion-item text-capitalize text-center color="primary" (click)="viewSubscriber()">view</button>

    </div>

  </div>

</ion-card>
