<!-- <ion-card full (click)="onButtonTapped()"> -->
<ion-card full>
  <!-- <img [src]="avatar" alt="avatar" /> -->
  <!-- <img src="./assets/imgs/default-avatar.jpg" alt="avatar" /> -->

  <!-- <div [ngClass]="[ 'subscriber-item-container', coverClass ]"> -->
    <ion-list>
    <!-- <div class="subscriber-profile-container"> -->
      <ion-item>
        <!-- <div item-start [ngClass]="[ 'subscriber-avatar-container', 'fma-sub-avt-default-avatar', avatarClass ]"
        </div> -->

        <ion-avatar item-start>
          <img [src]="media.getAvatarUrl(subscriber)" alt="avatar" />
        </ion-avatar>

        <h2>{{ subscriber.name }}</h2>

        <!-- <div>
          <h5>{{ subscriber.name }}</h5>
        </div> -->
      </ion-item>

      <!-- <ion-card-content>
        {{ subscriber.bio }}
      </ion-card-content> -->

      <ion-item>
        <ion-badge *ngFor="let service of subscriber.services" color="secondary" margin-right>{{ service }}</ion-badge>
      </ion-item>

      <button ion-item text-capitalize text-center color="primary" (click)="onButtonTapped()">
        <ion-icon name="eye"></ion-icon>
        <span>view</span>
      </button>
    <!-- </div> -->
    </ion-list>
  <!-- </div> -->
</ion-card>
