<ion-card full>

  <!-- <img [src]="avatar" alt="avatar" /> -->
  <!-- <img src="./assets/imgs/default-avatar.jpg" alt="avatar" /> -->

  <div [ngClass]="[ 'subscriber-item-container', coverClass ]">

    <div class="subscriber-profile-container">

      <ion-item>

        <div item-start [ngClass]="[ 'subscriber-avatar-container', 'fma-sub-avt-default-avatar', avatarClass ]">
        </div>
        <div>
          <h5>{{ subscriber.name }}</h5>
        </div>

      </ion-item>
      <ion-card-content>

        {{ subscriber.bio }}

      </ion-card-content>

      <ion-item>

        <ion-badge *ngFor="let service of subscriber.services" color="secondary" margin-right>{{ service }}</ion-badge>

      </ion-item>

      <button ion-item text-capitalize text-center color="primary" (click)="clicked()">view</button>

    </div>

  </div>

</ion-card>
