
$dimensions: 55px;

fma-subscriber-item {

}

fma-subscriber-item > ion-card {
  margin: 0 !important;
  width: 100% !important;
}

.subscriber-item-container {
  padding-top: 75px;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
}

.subscriber-profile-container {
  background-color: #ffffffdd;

  ion-item {
    background-color: transparent;
  }

  ion-card-content {
    background-color: transparent;
  }
}

.subscriber-avatar-container {
  width: $dimensions;
  height: $dimensions;
  border: 1px solid transparent;
  padding: 0;
  // border-radius: 50%;
  background-size: contain;
}
