
<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-badge color="warning" item-end *ngIf="isDebug">
          <ion-icon name="logo-codepen"></ion-icon>
        </ion-badge>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item text-capitalize *ngFor="let p of (pagesObservable | async)" (click)="openPage(p.page)">
        <ion-icon [name]="p.icon"></ion-icon>
        <span>{{p.name}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
