fma-service-list {
  fma-service-item:first-child {
    padding-left: 10px;
  }
  fma-service-item:last-child {
    padding-right: 10px;
  }
}

ion-scroll {
  white-space: nowrap;
  height: 90px;
  overflow: hidden;
}

