
fma-app-heading {

}

.app-header {
  background-color: #5e2777;
  color: #ffffff;
  font-size: 50pt;
  height: 150px;
  position: relative;
}

fma-app-heading > div {
  font-family: 'Kalam', cursive;
  height: 100%;
  vertical-align: middle;
  color: #ff4702;
  margin: 0 auto;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fma-app-heading-free {
  color: #ff4702;
}

.fma-app-heading-mapp {
  color: #ffffff;
}
