
fma-app-heading {
  position: relative;
  // margin-top: 80px;

  .fixed {
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0pc;
    top: 0pc;
  }

  .app-header {
    background-color: #572480;
    box-shadow: 0px -2px 15px 5px #57248066;

    .fma-heading-searchbar {

    }
  }
}
